services:
  app:
    build:
      context: .
      args:
        - VITE_APP_ENV=staging
    container_name: tableau-emotions
    ports:
      - "3001:3000"
    restart: unless-stopped
    environment:
      - PORT=3000
